:root{
    --primary-color: #0d6efd;
    --secondary-color: #e1dd97cf;
    --big-font: 2.5rem;
    --small-font: 1.3rem;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
   background-image: url(./images/background.jpeg);
   background-repeat: none;
}
header{
    width: 100%;
    display: flex; 
    z-index: 1000;
}
.logo{
    width: 27%;
    height: 11vh;
    display: inline-block;
    margin-left: 3rem;
}
.logo img{
    width: 46%;
    height: 10vh;
    object-fit: cover;

}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
    position: relative;
    float: right;
}
ul{
    position: absolute;
    left: 23%;
}
li{
    display: inline-block;
    margin: 0 34px;

}
 li a{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: var(--small-font); 
    font-weight:600;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3rem;
    width: 50%;
}
 i{
    color: var(--secondary-color);
    font-size: 2rem;
    margin-left: 1rem;
}
.bx-search-alt{
    color: var(--secondary-color);
    font-size: 2rem;
    margin-left: 1rem;
}